<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">


    <select id="selectDishPage" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName from dish d left outer join category c on d.category_id = c.id
        <where>
            <if test="dish.name != null">
                and d.name like concat('%',#{dish.name},'%')
            </if>
            <if test="dish.categoryId != null">
                and d.category_id =#{dish.categoryId}
            </if>
            <if test="dish.status != null">
                and d.status =#{dish.status}
            </if>
        </where>
        order by d.update_time desc
    </select>

    <select id="getBySetmealId" resultType="com.sky.entity.Dish">
        select d.* from dish d left join setmeal_dish s on d.id = s.dish_id where s.setmeal_id=#{id}
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from dish
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>
